@media (max-width: 1200px) {
  .project-title {
    font-size: 60px;
  }
  .project-card {
    padding: 20px 0 0 60px;
  }
  .outline-button {
    margin-top: 30px;
  }
}
@media (max-width: 992px) {
  .hero-name {
    font-size: 90px;
  }
  .projects {
    text-align: center;
  }
  .project-card {
    padding: 20px 30px 40px;
  }
}

@media (max-width: 768px) {
  .hero-heading {
    font-size: 32px;
  }
  .hero-name {
    font-size: 86px;
  }
  .project-title {
    font-size: 58px;
  }
}

@media (max-width: 576px) {
  .hero-profession {
    font-size: 20px;
  }
  .project-saction-title {
    padding: 0 50px;
  }
  .project-title {
    font-size: 54px;
  }
  .project-card {
    padding: 20px 40px 40px;
  }
}
