/* font-family: 'Playfair Display', serif; 700
font-family: 'Poppins', sans-serif;  400,500,700*/
:root {
  --background-color: #f9f7fe;
  --dark-text-color: #272142;
  --accent-color: #6c63ff;
  --heading-font: "Playfair Display", serif;
  --text-font: "Poppins", sans-serif;
}
body {
  font-family: var(--text-font);
}
.homepage-navbar {
  background: var(--background-color);
  padding-top: 40px;
}
.navbar {
  padding-top: 40px;
}
.nav-link {
  color: var(--dark-text-color);
  opacity: 0.7;
  font-weight: 500;
  font-size: 16px;
}
.active {
  color: var(--accent-color) !important;
  opacity: 1;
}
.hero {
  background: var(--background-color);
  text-align: center;
  padding-bottom: 271px;
}
.hero-heading {
  font-weight: 700;
  font-size: 36px;
  padding-top: 194px;
  color: var(--dark-text-color);
}
.hero-name {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  color: black;
}
.hero-profession {
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  color: var(--dark-text-color);
  margin-top: 24px;
  margin-bottom: 50px;
}
.hero-button,
.inquiry-button {
  background: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
  padding: 18px 30px;
  border-radius: 4px;
  text-transform: capitalize;
}
.hero-button:hover,
.inquiry-button:hover {
  background: var(--accent-color);
  color: #fff;
}
.project-section-title {
  margin-top: 130px;
  margin-bottom: 82px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--dark-text-color);
}
.project-card {
  padding: 80px 0 0 60px;
}
.project-title {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 64px;
  line-height: 1.3;
  color: black;
  margin-bottom: 55px;
}
.project-descr {
  font-size: 16px;
  color: var(--text-font);
  line-height: 1.8;

  opacity: 0.7;
}
.outline-button {
  background: #fff;
  border: 1px solid var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: var(--accent-color);
  text-decoration: none;
  padding: 18px 30px;
  border-radius: 4px;
  margin-top: 50px;
  text-transform: capitalize;
}
.outline-button:hover {
  color: #fff;
  background: var(--accent-color);
}
.inquiry-section {
  background: var(--background-color);
  margin-top: 132px;
}
.inquiry-title {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 48px;
  line-height: 1.3;
  color: black;
  margin-bottom: 18px;
}
.inquiry-text {
  margin: 50px 0 0 120px;
}
.inquiry-descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--text-font);
  opacity: 0.7;
}

/* about */

.content-container {
  padding: 157px 0 0 0;
  text-align: center;
}
.content {
  margin: 30px;
  text-align: left;
}
.content-heading {
  font-family: var(--heading-font);
  font-size: 64px;
  font-weight: 700;
  line-height: 1.3;
  color: black;
}
.content-profession {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: var(--dark-text-color);
}
.content-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: var(--dark-text-color);
  opacity: 0.7;
}
/* work */
.project-heading{
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
  color: black;
}
/* contact */
.email-form{
 width: 60%;
}
.form-label{
  font-size: 18px;
  color: var(--dark-text-color);
}